.title{
	text-align: center;
	}

.boxes{
text-align: center;
}

.button{
text-align: center;
display: center;
padding-right: auto;
}

.label{
font-size:20px
}

.buttonDiv{
text-align: center;
}

#ballotDiv{
	text-align:center;
	}
