.title{
	text-align: center;
	}

#instruct{
	text-align: center;
	}
	
#accordion button{
	padding: none;
	display: center;
	width: 400;
}
	
#accordion ul{
	padding: 0;
	list-style-type: none;
	}
